@import "bootstrap";


// home page
.home-title, .app-description{
    display: block;
    justify-content: center;
    text-align: center;
}

.create-form{
    margin-left: 20%;
    margin-right: 20%;
}