@import "bootstrap";


header {
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

// home page
.home-title, .app-description{
    display: block;
    justify-content: center;
    text-align: center;
}

// Apartment Index
.apartments {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
 }



