@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.home-bg {
    background: url(backgroundImage.png);
    background-size: cover;
}

.not-found-bg {
  background: url(https://wallpapers.com/images/hd/retro-futurism-r5h9irikji579lpw.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.not-found-txt {
    font-family: Orbitron;
    font-size: large;
    color: aliceblue;
    
}

* {
    margin: 0 auto;
    text-align: center;
}

header {
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

footer {
    margin-top: 80px;
}

// home page
.home-title, .app-description{
    display: block;
    justify-content: center;
    text-align: center;
}

.create-form{
    margin-left: 20%;
    margin-right: 20%;
}
.apartments {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
 }

 // .container {
//     // width: 1100px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
// }

// .container .card {
//     position: relative;
//     // width: 300px;
//     // height: 400px;
//     background: #255784;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 30px;
//     box-shadow: 0 20px 50px rgba(0,0,0,0.2);
//     overflow: hidden;
// }
//  .container .card span {
//     transition: 0.5;
// }

// .container .card span:nth-child(1) {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 3px;
//     background: linear-gradient(to right, transparent, red);
//     animation: animate1 2s linear infinite
// }
// @keyframes animate1 {
//     0% {
//         transform: translateX(-100%);
//     }
//     100% {
//         transform: translateX(100%);
//     }
// }

// .container .card span:nth-child(2) {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 3px;
//     height: 100%;
//     background: linear-gradient(to bottom, transparent, red);
//     animation: animate2 2s linear infinite;
//     animation-delay: 1s;
    
// }
// @keyframes animate2 {
//     0% {
//         transform: translateY(-100%);
//     }
//     100% {
//         transform: translateY(100%);
//     }
// }

// .container .card span:nth-child(3) {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 3px;
//     background: linear-gradient(to left, transparent, red);
//     animation: animate3 2s linear infinite
// }
// @keyframes animate3 {
//     0% {
//         transform: translateX(100%);
//     }
//     100% {
//         transform: translateX(-100%);
//     }
// }

// .container .card span:nth-child(4) {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 3px;
//     height: 100%;
//     background: linear-gradient(to top, transparent, red);
//     animation: animate4 2s linear infinite;
//     animation-delay: 1s;
    
// }
// @keyframes animate4 {
//     0% {
//         transform: translateY(100%);
//     }
//     100% {
//         transform: translateY(-100%);
//     }
// }

// .container .card span {
//     transition: 0.5;
// }

// .container .card span:nth-child(1) {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 3px;
//     background: linear-gradient(to right, transparent, red);
//     animation: animate1 2s linear infinite
// }
// @keyframes animate1 {
//     0% {
//         transform: translateX(-100%);
//     }
//     100% {
//         transform: translateX(100%);
//     }
// }

// .container .card span:nth-child(2) {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 3px;
//     height: 100%;
//     background: linear-gradient(to bottom, transparent, red);
//     animation: animate2 2s linear infinite;
//     animation-delay: 1s;
    
// }
// @keyframes animate2 {
//     0% {
//         transform: translateY(-100%);
//     }
//     100% {
//         transform: translateY(100%);
//     }
// }

// .container .card span:nth-child(3) {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 3px;
//     background: linear-gradient(to left, transparent, red);
//     animation: animate3 2s linear infinite
// }
// @keyframes animate3 {
//     0% {
//         transform: translateX(100%);
//     }
//     100% {
//         transform: translateX(-100%);
//     }
// }

// .container .card span:nth-child(4) {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 3px;
//     height: 100%;
//     background: linear-gradient(to top, transparent, red);
//     animation: animate4 2s linear infinite;
//     animation-delay: 1s;
    
// }
// @keyframes animate4 {
//     0% {
//         transform: translateY(100%);
//     }
//     100% {
//         transform: translateY(-100%);
//     }
// }

